*__pycache__
inference-env/
testing-env/
gpt-agent-testing-env/
ollama-standard-tests/
*.ipynb_checkpoints
*.DS_Store
conversation.txt
site/
docs/
multi-agent-env/
testing-env-agent/
testing-env-standard/