# python
*__pycache__
*.ipynb_checkpoints
*.DS_Store

# data
gpt-agent-testing-env-3up/
gpt-standard-testing-env-2up/
gpt-standard-testing-env-3up/
gpt-standard-testing-nospy-env-2up/

# testing and inference
inference-env/
testing-env-agent/
testing-env-standard/
conversation.txt

# docs
site/
docs/