*__pycache__
inference-env/
testing-env/
gpt-agent-testing-env-0/
gpt-agent-testing-env-1/
gpt-standard-testing-env-1/
gpt-agent-testing-env-2/
ollama-standard-testing-env/
*.ipynb_checkpoints
*.DS_Store
conversation.txt
site/
docs/
multi-agent-env/
testing-env-agnt/
testing-env-standard/